@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  font-family: "Raleway";
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
}

/* banner section style */

.banner {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
  gap: 200px;
  background-image: url(Assets/Hero-bg.png);
}

.navbar {
  width: 1140px;
  height: 151px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

.logo {
  font-size: 34px;
  font-family: "inter";
  font-weight: 800;
  color: #4e47ff;
}

.btn {
  height: 50px;
  padding: 12px 36px;
  border: none;
  background-color: #4e47ff;
  color: #ffffff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.banner-text {
  width: 905px;
  height: 237px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 37px;
}

.banner-text p {
  font-size: 65px;
  font-weight: bold;
  color: #252432;
  text-align: center;
}

/* action section style */

.action {
  width: 1140px;
  height: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 7rem 0;
}

.action_text-section {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.action_text-section h2 {
  font-size: 42px;
  font-weight: bold;
}

.action_text-section p {
  width: 517px;
  height: 60px;
  font-size: 24px;
  line-height: 30px;
  color: rgba(47, 36, 50, 0.5);
}

.action_text-section button {
  width: 240px;
  height: 50px;
}

.action img {
  height: 330px;
  width: 403px;
  border-radius: 48px;
}

/* productive_user section style */

.productive_user {
  width: 1140px;
  height: 306px;
  display: flex;
  background-color: rgba(210, 71, 255, 0.1);
  flex-direction: column;
  align-items: center;
  padding: 50px 80px;
  justify-content: space-between;
  margin-bottom: 7rem;
  border-radius: 24px;
}

.productive_user-txt {
  font-size: 38px;
  font-weight: bold;
  color: #252432;
}

.user {
  display: flex;
  gap: 158px;
  font-family: "inter";
}

.user_block h1 {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}

.user_block p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

/* review section style */

.review {
  width: 1140px;
  height: 342px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.review h2 {
  font-size: 42px;
  font-weight: bold;
}

.review-section {
  width: 1140px;
  height: 243px;
  display: flex;
  gap: 20px;
}

.review-section_block {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 14px;
  box-shadow: 5px 5px 15px rgba(214, 214, 214, 0.5);
}

.block-star {
  display: flex;
  gap: 4px;
}

.block-text {
  width: 319px;
  height: 81px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.block-text h4 {
  font-size: 24px;
  font-weight: 600;
}

.block-text p {
  font-size: 16px;
  color: #1e1e1e;
  line-height: 20px;
}

.block-img {
  display: flex;
  align-items: center;
  gap: 12px;
}

.block-img img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.block-img_text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.block-img_text h5 {
  color: #757575;
}


/* focus section style */

.focus{
    margin: 7rem;
}